<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a routerLink="/" mat-flat-button color="primary"><span class="title">LOGO<span>OO</span></span></a>
      <span class="spacer"></span>
      <form>
        <mat-form-field class="form-field">
        <mat-label i18n>Search</mat-label>
        <input matInput type="text">
      </mat-form-field>
        <button mat-mini-fab aria-label="Example icon button with a search icon" (click)="search()">
          <mat-icon>search</mat-icon>
        </button>
      </form>
      <span class="spacer"></span>
      <ng-container>
        <mat-icon>language</mat-icon>
        <button mat-button [matMenuTriggerFor]="menu">
            {{siteLanguage}}
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item href="/en">English</a>
            <a mat-menu-item href="/fr">Français</a>
        </mat-menu>
    </ng-container>
      <div *ngIf="type; else otherContent">
        <a
          routerLink="/cart"
          mat-raised-button
          color="accent"
          matBadge="{{ cartCount }}"
          matBadgeSize="medium"
          matBadgeColor="warn"
          class="cart"
          i18n><mat-icon>shopping_cart</mat-icon> ${{cartAmount}}</a>
        <button mat-flat-button color="primary" (click)="logout()" i18n>Logout</button>
      </div>
      <ng-template #otherContent>
        <a routerLink="/auth" mat-raised-button color="accent" i18n>Login </a>
        <a routerLink="/auth/register" mat-flat-button color="primary" i18n> Register </a>
      </ng-template>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <ul class="nav" >
        <li><a routerLink="/" mat-flat-button color="primary" i18n>Home</a></li>
        <li><a routerLink="/products" mat-flat-button color="primary" i18n>Product</a></li>
        <li><a routerLink="/company" mat-flat-button color="primary" i18n>Company</a></li>
        <li><a routerLink="/contact" mat-flat-button color="primary" i18n>Contact</a></li>
      </ul>
      <span class="spacer"></span>
      <a href="https://facebook.com" target="_BLANK" mat-fab color="primary" class="example-icon" aria-label="Example icon-button with share facebook icon">
        <mat-icon>facebook</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
<footer>
<p i18n>
  &#169; 2021 Codemax. All Rights Reserved
</p>
</footer>
