.spacer {
  flex: 1 1 auto
}
.title{
  font-weight: 400;
  span{
    font-weight: 100
  }
}
.form-field {
  width: 300px
}
.nav {
  li{
    display: inline;
    margin-right: 1em
  }
}
.cart {
  margin-right: 1em
}
form{
  margin-top: 20px
}
