<div class="row h-100 justify-content-center align-items-center">
  <div class="col-sm-4">
    <mat-card class="">
      <mat-card-header>
        <mat-card-title i18n>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form autocomplete="on" [formGroup]="loginForm" (ngSubmit)="login()">
          <mat-form-field class="full-width">
            <input matInput placeholder="email" formControlName="email" i18n/>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="password" formControlName="password" i18n/>
          </mat-form-field>
          <button type="submit" mat-raised-button color="primary" fullWidth i18n>
            Login
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
