<div class="container mt-5">
  <h1 i18n>New Product</h1>
  <form autocomplete="on" [formGroup]="form" (ngSubmit)="newProduct()">
    <mat-form-field class="full-width">
      <input matInput placeholder="Name" formControlName="name" i18n/>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Quantity" formControlName="quantity" i18n/>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Amount" formControlName="amount" i18n/>
    </mat-form-field>
    <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Description" formControlName="description" i18n></textarea>
  </mat-form-field>
    <div class="full-width">
      <input type="file" placeholder="Amount" formControlName="image" (change)="onFileChange($event)" i18n/>
    </div>
    <button type="submit" mat-raised-button color="primary" class="mt-5" i18n>Add Product</button>
  </form>
</div>
