<div class="container mt-5">
  <div class="row">
    <section class="col-sm-6">
      <div class="row">
      <article *ngFor="let i of product?.image" class="col-sm-6">
        <img src="{{baseurl + i.link}}" alt="{{product.name}}">
      </article>
      </div>
    </section>
    <section class="col-sm-6">
      <h1 i18n>{{product?.name}}</h1>
      <h2 class="mt-5" i18n> price: Rs. {{product?.amount}}</h2>
      <h2 class="qty1" i18n>Quantity</h2>
      <div class="qty">
        <form autocomplete="on" [formGroup]="form">
          <button mat-stroked-button color="primary" (click)="addQuantity()">
            <i class="material-icons">add</i>
          </button>
          <mat-form-field appearance="quantity" class="form-control">
            <input type="number" matInput formControlName="quantity" placeholder="Quantity" min="1" max="100" value="1" />
          </mat-form-field>
          <button mat-stroked-button color="warn" (click)="removeQuantity()">
            <i class="material-icons">remove</i>
          </button>
          <button mat-raised-button color="primary" class="buy" (click)="addToCart()" i18n>
            Add to Cart
          </button>
        </form>
      </div>
    </section>
  </div>
</div>
