<div class="row h-100 justify-content-center align-items-center">
  <div class="col-sm-4">
    <mat-card class="">
      <mat-card-header>
        <mat-card-title i18n>Register</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form autocomplete="on" [formGroup]="loginForm">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name" i18n/>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="email" formControlName="email" i18n/>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Password" formControlName="password" i18n/>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Confirm password" formControlName="password_confirmation" i18n/>
          </mat-form-field>

          <re-captcha
    (resolved)="resolved($event)"
    siteKey="6LficS4aAAAAANxa8mL4RIqYq441jv4LkzzZPbz7"
  ></re-captcha>
          <button type="submit" mat-raised-button color="primary" fullWidth i18n>
            Login
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
