<div class="container mt-5">
  <h1 class="" i18n>Contact Us </h1>
  <section class="row">
    <article class="col-sm-8 offset-sm-2">
      <form autocomplete="on" [formGroup]="form" (ngSubmit)="submit()">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name" i18n/>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="email" formControlName="email" i18n/>
          </mat-form-field>
          <mat-form-field class="full-width">
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="Message" formControlName="message" i18n></textarea>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" class="mt-5" i18n>Submit</button>
      </form>
    </article>
  </section>
</div>
