<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a routerLink="/" mat-flat-button color="primary"><span class="title">LOGO<span>OO</span></span></a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
<footer>
<p i18n>
  &#169; 2021 Codemax. All Rights Reserved
</p>
</footer>
