
<div class="container mt-5">
<h1>Contact Form </h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef i18n> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef i18n> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <!-- Quantity Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef i18n> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <!-- Amount Column -->
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef i18n> message </th>
    <td mat-cell *matCellDef="let element"> {{element.message}} </td>
  </ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
