<div class="container mt-5">
  <h1 i18n>Company</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras libero ex, vulputate a pretium eget, rutrum nec justo. Donec elit tellus, dictum in dignissim a, feugiat quis lorem. Nulla facilisi. Donec quis vestibulum ligula, eget semper nisl. Aenean accumsan tempus lectus eu bibendum. Duis lobortis semper aliquet. Mauris ac ipsum ac purus interdum posuere in vitae felis. Aliquam erat volutpat. Ut dolor mauris, mollis id nunc eget, euismod consequat purus. Morbi faucibus, leo id laoreet pharetra, erat odio sodales nisl, id scelerisque mauris leo eget nulla. Suspendisse vel euismod velit. In hac habitasse platea dictumst. Sed eget odio nec nisl facilisis luctus. In vitae sapien vitae mi ultrices dignissim. Aenean hendrerit nibh vitae enim ultrices, vitae pretium magna facilisis. Ut nibh tellus, ullamcorper eu lobortis vel, ullamcorper a dui.</p>
  <p>Praesent a ipsum massa. Nunc porta maximus fermentum. Vivamus a justo id quam pulvinar imperdiet vel sed urna. Maecenas sed dolor risus. Donec ut arcu mi. Mauris at pretium magna. Sed a mollis erat. Nullam aliquet gravida mauris, eget lobortis orci laoreet ac. Maecenas ornare lacinia lectus, id molestie justo elementum sit amet. Maecenas blandit tellus id dolor elementum sollicitudin. In varius ac massa sit amet dictum.</p>
  <p>Cras ut metus blandit, gravida risus in, malesuada felis. Aliquam ullamcorper nunc ut neque dapibus, ac pharetra tellus malesuada. Maecenas tempor nec nisi at convallis. Duis ut eros ipsum. In hac habitasse platea dictumst. Mauris quam augue, sollicitudin ut nisi a, auctor efficitur enim. Morbi consectetur ipsum eget ex finibus sagittis. Nullam et fermentum quam. Praesent iaculis, neque ut imperdiet fringilla, metus felis mollis purus, eget tempor tellus magna sit amet nisl. Donec lacinia arcu ante, sit amet faucibus odio malesuada eu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc faucibus leo sit amet arcu suscipit dictum. Fusce condimentum lacinia nisi at scelerisque. Pellentesque quam lectus, malesuada at imperdiet in, placerat sed enim. Pellentesque a tellus sapien.</p>
  <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut placerat urna non vulputate viverra. Suspendisse potenti. Vestibulum ut odio dolor. Duis at sapien eu magna vulputate bibendum. Quisque ac nunc viverra lorem fermentum maximus eget nec dui. Proin sed porta ante. Fusce faucibus est ac nunc suscipit, eget fermentum lectus faucibus. Sed eros lectus, viverra sed pulvinar at, vestibulum eget erat. Nunc rutrum dictum posuere. Nulla feugiat quam mauris, sit amet interdum eros porttitor sit amet.</p>
  <p>Phasellus pharetra lacus et massa accumsan dictum. Ut elementum mi ultricies dignissim suscipit. Pellentesque placerat ante vel sodales facilisis. Vivamus consequat aliquet quam, non porttitor tellus pellentesque id. Integer sagittis sit amet felis nec ornare. Ut dolor urna, lacinia id posuere nec, placerat nec ipsum. Aliquam nec efficitur urna. Vivamus feugiat, diam eget fringilla fermentum, ipsum libero porta enim, vitae consectetur lorem nulla nec sapien. Cras ac lacus dolor. Donec nec justo at libero lacinia tempus ac iaculis massa. Etiam sodales sed leo eget malesuada. Suspendisse nec sodales arcu. Vivamus vitae nibh sit amet est feugiat convallis nec vel neque.</p>
  <p>Cras ut metus blandit, gravida risus in, malesuada felis. Aliquam ullamcorper nunc ut neque dapibus, ac pharetra tellus malesuada. Maecenas tempor nec nisi at convallis. Duis ut eros ipsum. In hac habitasse platea dictumst. Mauris quam augue, sollicitudin ut nisi a, auctor efficitur enim. Morbi consectetur ipsum eget ex finibus sagittis. Nullam et fermentum quam. Praesent iaculis, neque ut imperdiet fringilla, metus felis mollis purus, eget tempor tellus magna sit amet nisl. Donec lacinia arcu ante, sit amet faucibus odio malesuada eu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc faucibus leo sit amet arcu suscipit dictum. Fusce condimentum lacinia nisi at scelerisque. Pellentesque quam lectus, malesuada at imperdiet in, placerat sed enim. Pellentesque a tellus sapien.</p>
  <h1 class="mt-5" i18n>Team</h1>
  <section class="row">
    <article class="col-sm-3 team" *ngFor="let p of r">
      <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title i18n>Name</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://via.placeholder.com/250x200" alt="Name">
  <mat-card-content>
    <p i18n>Position</p>
  </mat-card-content>
</mat-card>
    </article>
  </section>
</div>
