<div class="container">
  <h1 class="mt-5" i18n>Products</h1>
  <div class="row">
    <section *ngFor="let p of products" class="col-sm-4 product">
      <a routerLink='/products/{{p.id}}'>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ p.name }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{baseurl + p.image[0].link}}" alt="{{p.name}}" class="img h-256">
          <mat-card-actions>
            <button mat-button>Rs. {{ p.amount }}</button>
          </mat-card-actions>
        </mat-card>
      </a>
    </section>
  </div>
</div>
