<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a routerLink="/" mat-flat-button color="primary"><span class="title">LOGO<span>OO</span></span></a>
      <ul class="nav" >
        <li><a routerLink="/admin/products" mat-flat-button color="primary" i18n>Products</a></li>
        <li><a routerLink="/admin/contact" mat-flat-button color="primary" i18n>Contact</a></li>
      </ul>
      <span class="spacer"></span>

       <div *ngIf="type">
        <button mat-flat-button color="primary" (click)="logout()" i18n>Logout</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
<footer>
<p i18n>
  &#169; 2021 Codemax. All Rights Reserved
</p>
</footer>
