.image {
    width: 100%;
    height: 128px;
    object-fit: contain;
}
.qty{
    padding-left: 20px;
}
@media only screen and (min-width: 512px) {
  img {
    margin: 1rem 0;
    width: 40%;
  }
}
.title {
    margin: 7rem 0 1rem 0;
    font-size: 3rem;
    opacity: 0.5;
}
.underline {
    text-decoration: underline;
    opacity: 0.5;
}
.row{
    border-bottom: 1px solid rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
}
.mt-5 {
    margin-top: 3rem;
}
.float-right{
  text-align: right;
}
