<div class="container" *ngIf="cartCount > 0 else emptyCart">
    <h1 class="text-center mt-5" i18n>Cart details</h1>
    <hr>
    <div class="row" *ngFor="let item of cart">
        <div class="col-2">
            <img src="{{ baseurl + item.product.image[0].link}}" class="image">
        </div>
        <div class="col-5">
            <h2>{{item.product.name}}</h2>
            <p>{{item.product.code}}</p>
        </div>
        <div class="col-2">
            <button mat-stroked-button color="primary" (click)="addQuantity(item)"><i class="material-icons">add</i></button>
            <h2 class="qty">{{item.quantity}} </h2>
            <button mat-stroked-button color="warn" (click)="removeQuantity(item)"><i class="material-icons">remove</i></button>
        </div>
        <div class="col-3 float-right">
            <button mat-raised-button color="warn" (click)="removeProduct(item)"> <i class="material-icons">delete</i></button>
        </div>
    </div>
    <div class="text-center mt-5"><button mat-raised-button color="primary" (click)="order()">Proceed</button></div>
</div>
<ng-template #emptyCart>
    <div class="text-center container">
      <img src="https://professionalscareer.com/assets/images/emptycart.png" class="img">
      <a href="/products" mat-button class="underline" i18n>Browse Our Products <i class="material-icons">arrow_forward</i></a><br>
    </div>
</ng-template>
