/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// bootstrap grid
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities/display"; // add the display
@import "~bootstrap/scss/utilities/flex"; // add the grid

.mt-5{
margin-top: 20px !important;
}
img {
  width: 100%;
}
